<div class="container"><br/>
  <div class="row">
    
    <div class="col-lg-6">
      <div class="mainlogo"></div>
    </div>
    <div class="col-lg-6 border-left mx-auto"><br/><br/><br/><br/>
      <div class="container">
      <button type="button" class="btn btn-new-polla" data-toggle="modal" data-target="#modalInstructions">
        Ver instrucciones y premios
      </button>
      </div>
    </div>
  </div><br/><br/>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
	  Pollas registradas
	</div>
	<div class="container">
	  <br/>
	  <% if @pollas.any?%>
	    <ul>
	    <% @pollas.each do |polla| %>
	      <li><%= polla.name %></li>
	    <% end %>
	    </ul>
	  <% else %>
	    <h5> No hay pollas disponibles aun</h5>
	  <% end %>
	</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
	  Sus pollas
	</div>
	<div class="container">
      <% if @user_pollas.any?%>
       <table class="table">
       <tbody>
       <% @user_pollas.each do |polla| %>
         <tr>
           <td><%= polla.name %></td> 
           <td><%=link_to "Editar", edit_polla_path(polla)%></td>
         </tr>
       <% end %>
       </tbody>
       </table>
       <% else %>
	    <%= link_to "Nueva polla", new_polla_path, class: 'btn btn-dark' %>
	  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalInstructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Informacion e instrucciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'instructions' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
