<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#50292a">
  <a class="navbar-brand" href=<%= home_index_path%>>
    <%= image_tag("polloskiLogo.png", height: 32, width: 94) %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Inicio", home_index_path, :class => "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Nueva polla", new_polla_path, :class => "nav-link" %>
      </li>
    </ul>
    <div class="nav navbar-nav navbar-right nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= fa_icon "user"%> <%= current_user.email %></a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Cambiar contraseña</a>
	<div class="dropdown-divider"></div>
	<%= link_to "Salir", signout_path, :class => "dropdown-item" %>
      </div>
    </div>
  </div>
</nav>
