<!DOCTYPE html>
<html>
  <head>
    <title>Polla2018</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-light" style="background-color:#50292a">
      <a class="navbar-brand" href=<%= home_index_path%>>
        <%= image_tag("polloskiLogo.png", height: 32, width: 94) %>
      </a>
      <div class="nav navbar-nav navbar-right">
        <%= link_to "Salir", signout_path %>
      </div>
    </nav>
    <div class="container-fluid">
      <%= render partial: '/shared/flash_msg' %>
      <%= yield %>
    </div>
  </body>
</html>
