<!DOCTYPE html>
<html>
  <head>
    <title>Polla2018</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-light" style="background-color:#50292a">
      <a class="navbar-brand" href="#">
        <%= image_tag("polloskiLogo.png", height: 32, width: 94) %>
      </a>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
